/* 
	Created on : 13-Feb-2016, 12:02:01 PM
	Author     : Yoseph Jo
*/

div.content-left { 
	width: 47%; 
	display: inline-block;
}

div.content-right {
	width: 50%;
	float: right;
	display: inline-block;
}

#bot_summary,
#latest_activity,
div#player_info,
div#latest_transactions {
	border: black solid 1.5px;
	min-height: 150px;
	padding-bottom: 15px;
}

#player_info > h3, 
#bot_summary > h3,
#latest_activity > h3,
#latest_transactions > h3{
	padding-left: 1em;
}

@media screen and (max-width: 1040px) {
	#bot_summary,
	#latest_activity,
	div#player_info,
	div#latest_transactions {
		width: 100%;
		border: black solid 1px;
	}
}
@media only screen and (max-width: 980px) {
	div.content-left,
	div.content-right {
		width: 95%;
		display: inline-block;
		float: none;
	}

	#bot_summary,
	#latest_activity,
	div#player_info,
	div#latest_transactions {
		border: none;
		display: inline-block;
		float: none;
	}
}